.layout {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
  }
  
  .layout-content {
    flex: 1;
    box-sizing: border-box;
    background: #191919;
  }